<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobFusion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main') }}">Home</a>
        <a href="{{ url_for('saved_jobs') }}">Saved Jobs</a>
        <a href="#">Insights</a>
        <a href="#">Profile</a>
        {% if session.get('user_id') %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
