<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobFusion</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <nav class="blue lighten-1">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">JobFusion</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('saved_jobs') }}">Saved Jobs</a></li>
                <li><a href="{{ url_for('insights') }}">Insights</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                {% if session.get('user_id') %}
                    <li><a href="{{ url_for('logout') }}" class="btn red lighten-1">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="page-footer blue lighten-1">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <h5 class="white-text">JobFusion</h5>
                    <p class="grey-text text-lighten-4 footer-text">Your personalized job-matching platform.</p>
                </div>
                <div class="col s6 right-align">
                    <p class="white-text">© 2024 JobFusion</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Left-Aligned Text -->
                <div class="col s6">
                    <a class="white-text"><strong>Modern Databases: Final Project</strong></a><br>
                    <u><a class="white-text" href="mailto:meesamamir-syed@uiowa.edu">Meesam Amir Syed</a></u><br>
                    <u><a class="white-text" href="mailto:@uiowa.edu">Name</a></u><br>
                    <u><a class="white-text" href="mailto:@uiowa.edu">Name</a></u><br>
                </div>
                <!-- Right-Aligned Text -->
            </div>
        </div>
    
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            M.FormSelect.init(elems);
        });
    </script>
</body>
</html>
