{% extends "base.html" %}

{% block content %}
<h1>Profile</h1>

<form method="POST" action="{{ url_for('profile') }}">
    <div class="row">
        <div class="input-field col s12">
            <input id="name" name="name" type="text" value="{{ user.user.name }}" required>
            <label for="name" class="active">Full Name</label>
        </div>

        <div class="input-field col s12">
            <select id="gender" name="gender">
                <option value="" disabled selected>Choose your option</option>
                <option value="Male" {% if user.user_personal.gender == "Male" %}selected{% endif %}>Male</option>
                <option value="Female" {% if user.user_personal.gender == "Female" %}selected{% endif %}>Female</option>
                <option value="Other" {% if user.user_personal.gender == "Other" %}selected{% endif %}>Other</option>
                <option value="Prefer not to say" {% if user.user_personal.gender == "Prefer not to say" %}selected{% endif %}>Prefer not to say</option>
            </select>
            <label for="gender" class="active">Gender</label>
        </div>

        <div class="input-field col s12">
            <input id="salary_min" name="salary_min" type="number" value="{{ user.user_job_preferences.preferred_salary_range.min }}">
            <label for="salary_min" class="active">Preferred Min Salary</label>
        </div>
        <div class="input-field col s12">
            <input id="salary_max" name="salary_max" type="number" value="{{ user.user_job_preferences.preferred_salary_range.max }}">
            <label for="salary_max" class="active">Preferred Max Salary</label>
        </div>
        
        <button type="submit" class="btn blue lighten-1">Update Profile</button>
        <a href="{{ url_for('main') }}" class="btn red lighten-1">Cancel</a>
    </div>
</form>
{% endblock %}
