{% extends "base.html" %}
{% block content %}
<h4>Saved Jobs</h4>
<table class="highlight centered responsive-table">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Company Name</th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for job in saved_jobs %}
        <tr>
            <td>{{ job['Job Title'] }}</td>
            <td>{{ job['Company'] }}</td>
            <td>{{ job['location'] }}</td>
            <td>
                <a href="{{ url_for('remove_job', job_id=job['Job Id']) }}" class="btn red lighten-1">X</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
